
.demo1 {
  margin: 10px 0;
}
.demo1 {
  width: 250px; /* example of overwiting default width */
  }
  .demo1 p {
    margin: 0;
    padding: 10px;
    }
    .demo1 p.odd {
      background: #f0f0f0;
      }

